body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(226, 43%, 10%);
  color: aliceblue;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

h4 {
  font-weight: 300;
}

.img-thumbnail {
  border-radius: 100%;
}

.btn {
  border: none;
  color: hsl(235, 45%, 61%);
}

.bg {
  background-color: hsl(235, 46%, 20%);
}

.card {
  background-color: hsl(235, 46%, 20%);
}

.card:hover {
    background-color: hsl(235, 45%, 61%, 0.5);
    cursor: pointer;
}

.bg-work {
  background-color: hsl(15, 100%, 70%);
}

.bg-play {
  background-color: hsl(195, 74%, 62%);
}

.bg-study {
  background-color: hsl(348, 100%, 68%);
}

.bg-exercise {
  background-color: hsl(145, 58%, 55%);
}

.bg-social {
  background-color: hsl(264, 64%, 52%);
}

.bg-selfcare {
  background-color: hsl(43, 84%, 65%);
}
