body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(226, 43%, 10%);
  color: aliceblue;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

h4,h5,h6 {
  font-weight: 300;
}


img {
  width: 5rem;
  border: 2px solid white;
  border-radius: 50%;
}

.btn {
  border: none;
  color: hsl(235, 45%, 61%);
  padding-left: 0 !important;
}

.bg {
  background-color: hsl(235, 46%, 20%);
}

.card {
  border-radius: 0.75rem;
}

.card-data {
  background-color: hsl(235, 46%, 20%);
}

.card-data:hover {
    background-color: hsla(235, 45%, 61%);
    cursor: pointer;
}

.bg-work {
  background-color: hsl(15, 100%, 70%);
}

.bg-play {
  background-color: hsl(195, 74%, 62%);
}

.bg-study {
  background-color: hsl(348, 100%, 68%);
}

.bg-exercise {
  background-color: hsl(145, 58%, 55%);
}

.bg-social {
  background-color: hsl(264, 64%, 52%);
}

.bg-selfcare {
  background-color: hsl(43, 84%, 65%);
}

.bg-height {
  height: 3rem;
}

.card-person{
  background-color: hsl(246, 80%, 60%);
  height: 25rem;
}

.card-timeframes {
  background-color: hsl(235, 46%, 20%);
}